@import '_content/Blazored.Toast/Blazored.Toast.bundle.scp.css';

/* /Pages/Licitacoesuser.razor.rz.scp.css */
@media (max-width: 768px) {
    .flex-column-reverse[b-ox32v6darb] {
        flex-direction: column; /* Switch to column layout on larger screens */
    }

    .flex-grow-1[b-ox32v6darb] {
        max-width: none; /* Remove max-width on larger screens */
    }

    .mb-md-0[b-ox32v6darb] {
        margin-bottom: 0; /* Remove margin-bottom on larger screens */
    }
}
/* /Shared/Card.razor.rz.scp.css */
.card[b-b3z9wzq13q] {
    display: flex;
    flex-direction: column;
    width: 25rem;
    border-radius: 24px;
    overflow: hidden;
    background-color: #F0F0F0;
}

.card-img-top[b-b3z9wzq13q] {
    margin-top: 10px;
    /* Adjust the margin value as needed */
    border-radius: 24px;
    width: 90%;
    height: auto;
    align-self: center;
    /* Align the image in the center vertically */
}

.card-title[b-b3z9wzq13q] {
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 5px;
    /* Adjust the margin value as needed */
}

.card-text[b-b3z9wzq13q] {
    font-weight: bold;
    font-size: 0.8rem;
    margin-bottom: 3px;
    /* Adjust the margin value as needed */
}
/* /Shared/CardLeilao.razor.rz.scp.css */
.card[b-jreb3r0fuu] {
    display: flex;
    flex-direction: column;
    width: 55rem;
    height: 40rem;
    border-radius: 24px;
    overflow: hidden;
    background-color: #F0F0F0;
}

.img-thumbnail[b-jreb3r0fuu] {
    width: 259px; /* Set the desired width */
    height: 175px; /* Maintain the aspect ratio */
    border-radius: 15px; /* Adicionando bordas arredondadas */
    margin-left: 1.3rem;
    object-fit: cover;
}

.card-img-big img[b-jreb3r0fuu] {
    width: 490px; /* Make the image fill the container */
    height: 420px; /* Maintain the aspect ratio */
    margin-left: -21rem;
    border-radius: 15px; /* Adicionando bordas arredondadas */
    object-fit: cover;
}

.card-img-big[b-jreb3r0fuu] {
    margin-top: 30px;
    border-radius: 24px;
    width: 800px;
    height: 600px;
    align-self: center;
}

.card-img-small[b-jreb3r0fuu] {
    margin-top: 20px;
}


.card-title[b-jreb3r0fuu] {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 5px;
    margin-top: -150px;
    margin-left: -300px;
}

.card-text[b-jreb3r0fuu] {
    font-weight: bold;
    font-size: 1.3rem;
    margin-bottom: 3px;
    margin-left: -300px;
}
/* /Shared/CreateAuction.razor.rz.scp.css */
.form-group[b-r0u542v45z] {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 2rem;
    margin-bottom: 2rem;
}

.form-categorias[b-r0u542v45z] {
    width: 33rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 2.3rem;
}

.form-control[b-r0u542v45z] {
    width: 22rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 2.3rem;
}

.form-pagamento[b-r0u542v45z] {
    width: 22rem;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-right:1rem;
    text-align: center; /* Align text horizontally in the center */
    line-height: 1rem; /* Vertically center the text */
   
}

.button-group[b-r0u542v45z]{
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: start;
    gap: 1rem;
    margin-bottom: 2rem;
}
.button-controller-media[b-r0u542v45z] {
    background-color: #737171;
    margin-left: 0.82rem;
    width: 20rem;
    height: 3rem;
    border-radius: 5rem;
    border-color: #737171;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-controller-autenticacao[b-r0u542v45z] {
    background-color: #737171;
    margin-left: 0.05rem;
    width: 22rem;
    height: 3rem;
    border-radius: 5rem;
    border-color: #737171;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*************************************************************************************************************************************/
/*************************************************************************************************************************************/
/*************************************************************************************************************************************/
/*************************************************************************************************************************************/

@media (max-width: 1024px) {
    .form-group[b-r0u542v45z] {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 2rem;
        margin-bottom: 2rem;
    }
    
    .form-categorias[b-r0u542v45z] {
        width: 25rem;
        padding: 10px;
        font-size: 15px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 2.1rem;
    }
    
    .form-control[b-r0u542v45z] {
        width: 19rem;
        padding: 10px;
        font-size: 15px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 2.3rem;
    }
    
    .form-pagamento[b-r0u542v45z] {
        width: 19rem;
        padding: 10px;
        font-size: 15px;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 2.3rem;
        margin-right:1rem;
        text-align: center; /* Align text horizontally in the center */
        line-height: 1rem; /* Vertically center the text */
       
    }
    
    .button-group[b-r0u542v45z]{
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    .button-controller-media[b-r0u542v45z] {
        background-color: #737171;
        margin-left: 0.72rem;
        width: 18rem;
        height: 3rem;
        border-radius: 5rem;
        border-color: #737171;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .button-controller-autenticacao[b-r0u542v45z] {
        background-color: #737171;
        margin-left: 0rem;
        width: 20rem;
        height: 3rem;
        border-radius: 5rem;
        border-color: #737171;
        font-size: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/*************************************************************************************************************************************/
/*************************************************************************************************************************************/
/*************************************************************************************************************************************/
/*************************************************************************************************************************************/
@media (max-width: 800px) {
    .form-group[b-r0u542v45z] {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 1.5rem;
        margin-bottom: 2rem;
    }
    
    .form-categorias[b-r0u542v45z] {
        width: 19rem;
        padding: 10px;
        font-size: 13px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 2.1rem;
    }
    
    .form-control[b-r0u542v45z] {
        width: 15rem;
        padding: 10px;
        font-size: 13px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 2.3rem;
    }
    
    .form-pagamento[b-r0u542v45z] {
        width: 15rem;
        padding: 10px;
        font-size: 13px;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 2.3rem;
        margin-right:1rem;
        text-align: center; /* Align text horizontally in the center */
        line-height: 1rem; /* Vertically center the text */
       
    }
    
    .button-group[b-r0u542v45z]{
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    .button-controller-media[b-r0u542v45z] {
        background-color: #737171;
        margin-left: 0.72rem;
        width: 13rem;
        height: 3rem;
        border-radius: 5rem;
        border-color: #737171;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .button-controller-autenticacao[b-r0u542v45z] {
        background-color: #737171;
        margin-left: 0rem;
        width: 15rem;
        height: 3rem;
        border-radius: 5rem;
        border-color: #737171;
        font-size: 13px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .form-group[b-r0u542v45z] {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 1.2rem;
        margin-bottom: 2rem;
    }
    
    .form-categorias[b-r0u542v45z] {
        width: 15rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 2.1rem;
    }
    
    .form-control[b-r0u542v45z] {
        width: 11rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 2.3rem;
    }
    
    .form-pagamento[b-r0u542v45z] {
        width: 11rem;
        padding: 10px;
        font-size: 10px;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 2.3rem;
        margin-right:1rem;
        text-align: center; /* Align text horizontally in the center */
        line-height: 1rem; /* Vertically center the text */
       
    }
    
    .button-group[b-r0u542v45z]{
        margin-top: -0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    .button-controller-media[b-r0u542v45z] {
        background-color: #737171;
        margin-left: 0.72rem;
        width: 9rem;
        height: 2.5rem;
        border-radius: 5rem;
        border-color: #737171;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .button-controller-autenticacao[b-r0u542v45z] {
        background-color: #737171;
        margin-left: 0rem;
        width: 11rem;
        height: 2.5rem;
        border-radius: 5rem;
        border-color: #737171;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 600px) {
    .form-group[b-r0u542v45z] {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 1.2rem;
        margin-bottom: 2rem;
    }
    
    .form-categorias[b-r0u542v45z] {
        width: 15rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 2.1rem;
    }
    
    .form-control[b-r0u542v45z] {
        width: 11rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 2.3rem;
    }
    
    .form-pagamento[b-r0u542v45z] {
        width: 11rem;
        padding: 10px;
        font-size: 10px;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 2.3rem;
        margin-right:1rem;
        text-align: center; /* Align text horizontally in the center */
        line-height: 1rem; /* Vertically center the text */
       
    }
    
    .button-group[b-r0u542v45z]{
        margin-top: -0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    .button-controller-media[b-r0u542v45z] {
        background-color: #737171;
        margin-left: 0.72rem;
        width: 9rem;
        height: 2.5rem;
        border-radius: 5rem;
        border-color: #737171;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .button-controller-autenticacao[b-r0u542v45z] {
        background-color: #737171;
        margin-left: 0rem;
        width: 11rem;
        height: 2.5rem;
        border-radius: 5rem;
        border-color: #737171;
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}  

@media (max-width: 460px) {
    .form-group[b-r0u542v45z] {
        margin-top: 1.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 1rem;
        margin-bottom: 2rem;
    }
    
    .form-categorias[b-r0u542v45z] {
        width: 12rem;
        padding: 10px;
        font-size: 8px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 1.9rem;
    }
    
    .form-control[b-r0u542v45z] {
        width: 9rem;
        padding: 10px;
        font-size: 8px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 1.9rem;
    }
    
    .form-pagamento[b-r0u542v45z] {
        width: 9rem;
        padding: 10px;
        font-size: 8px;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 1.9rem;
        margin-right:1rem;
        text-align: center; /* Align text horizontally in the center */
        line-height: 1rem; /* Vertically center the text */
       
    }
    
    .button-group[b-r0u542v45z]{
        margin-top: -0.7rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 0.5rem;
        margin-bottom: 2rem;
    }
    .button-controller-media[b-r0u542v45z] {
        background-color: #737171;
        margin-left: 0.95rem;
        width: 7rem;
        height: 2.3rem;
        border-radius: 5rem;
        border-color: #737171;
        font-size: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .button-controller-autenticacao[b-r0u542v45z] {
        background-color: #737171;
        margin-left: 0rem;
        width: 9rem;
        height: 2.3rem;
        border-radius: 5rem;
        border-color: #737171;
        font-size: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


@media (max-width: 320px) {
    .form-group[b-r0u542v45z] {
        margin-top: 0.5rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 0.7rem;
        margin-bottom: 2rem;
    }
    
    .form-categorias[b-r0u542v45z] {
        width: 8rem;
        padding: 7px;
        font-size: 6px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 1.5rem;
    }
    
    .form-control[b-r0u542v45z] {
        width: 7rem;
        padding: 10px;
        font-size: 6px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 1.5rem;
    }
    
    .form-pagamento[b-r0u542v45z] {
        width: 7rem;
        padding: 10px;
        font-size: 6px;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 1.5rem;
        margin-right:1rem;
        text-align: center; /* Align text horizontally in the center */
        line-height: 1rem; /* Vertically center the text */
       
    }
    
    .button-group[b-r0u542v45z]{
        margin-top: -1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: start;
        gap: 0.5rem;
        margin-bottom: 2rem;
    }
    .button-controller-media[b-r0u542v45z] {
        background-color: #737171;
        margin-left: 0.95rem;
        width: 5rem;
        height: 1.7rem;
        border-radius: 5rem;
        border-color: #737171;
        font-size: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .button-controller-autenticacao[b-r0u542v45z] {
        background-color: #737171;
        margin-left: 0rem;
        width: 7rem;
        height: 1.7rem;
        border-radius: 5rem;
        border-color: #737171;
        font-size: 6px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
/* /Shared/DisplayLeiloes.razor.rz.scp.css */
.card-container[b-tozuqmay62] {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 2.5rem;
    margin-top: -10rem;
}


.card[b-tozuqmay62] {
    display: flex;
    flex-direction: column;
    width: 21rem;
    height: 21rem;
    border-radius: 24px;
    overflow: hidden;
    background-color: #F0F0F0;
    align-items: center;
    margin-bottom: 1rem;
}

.card-img-wrapper[b-tozuqmay62] {
    margin-bottom: 2rem;
}

.card-img[b-tozuqmay62] {
    margin-top: 1.5rem;
    width: 250px;
    height: 190px;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    object-fit: cover;
}

.card-text[b-tozuqmay62] {
    font-weight: bold;
    font-size: 0.8rem;
    text-align: left;
    padding: 0 1rem;
    width: 100%;
    margin-left: 2rem;
}

    .card-text a[b-tozuqmay62] {
        color: inherit;
        text-decoration: none;
    }

    .card-text h4[b-tozuqmay62] {
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        font-size: 0.8rem;
        font-weight: bold;
    }

    .card-text p[b-tozuqmay62] {
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        font-size: 0.8rem;
        font-weight: bold;
    }
/* /Shared/FilterBar.razor.rz.scp.css */
.filter-bar-content[b-20ndywl08v] {
    font-size: 2.7rem;
    font-family: 'News Reader', sans-serif;
}

.custom-line[b-20ndywl08v] {
    border: 1px solid #000;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.date-text[b-20ndywl08v] {
    font-size: 1.2rem;
    margin-top: 1rem;
    margin-left: 2rem;
}

@media (max-width: 1024px) {
    .filter-bar-content[b-20ndywl08v] {
        font-size: 2.1rem;
    }
    .date-text[b-20ndywl08v] {
        font-size: 1.1rem;
        margin-top: 0.8rem;
        margin-left: 1.8rem;
    }
}

@media (max-width: 700px) {
    .filter-bar-content[b-20ndywl08v] {
        font-size: 1.8rem;
    }
    .date-text[b-20ndywl08v] {
        font-size: 1rem;
        margin-top: 0.6rem;
        margin-left: 1.6rem;
    }
}

@media (max-width: 600px) {
    .filter-bar-content[b-20ndywl08v] {
        font-size: 1.6rem;
    }
    .date-text[b-20ndywl08v] {
        font-size: 0.9rem;
        margin-top: 0.4rem;
        margin-left: 1.4rem;
    }
}

@media (max-width: 450px) {
    .filter-bar-content[b-20ndywl08v] {
        font-size: 1.1rem;
    }
    .date-text[b-20ndywl08v] {
        font-size: 0.7rem;
        margin-top: 0.4rem;
        margin-left: 1.2rem;
    }
}

@media (max-width: 425px) {
    .filter-bar-content[b-20ndywl08v] {
        font-size: 1rem;
    }
    .date-text[b-20ndywl08v] {
        font-size: 0.6rem;
        margin-top: 0.2rem;
        margin-left: 1rem;
    }
}

@media (max-width: 320px) {
    .filter-bar-content[b-20ndywl08v] {
        font-size: 0.8rem;
    }
    .date-text[b-20ndywl08v] {
        font-size: 0.5rem;
        margin-left: 0.8rem;
    }
}
/* /Shared/FilterBarShort.razor.rz.scp.css */
.filter-box[b-qhtmm0cz6w] {
    height: 8.5rem; 
    width: 63rem;
    margin-bottom: 10rem; 
    padding: 10px; 
    overflow: hidden;
    margin-left: 0rem;
}

.filter-bar-content[b-qhtmm0cz6w] {
    font-size: 2.2rem;
    font-family: 'News Reader', sans-serif;
}

.custom-line[b-qhtmm0cz6w] {
    border: 1px solid #000;
    margin-left: 0.2rem;
    margin-right: 0.2rem;
}

.date-text[b-qhtmm0cz6w] {
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: 26rem;
}
@media (max-width: 1400px) {
    .filter-box[b-qhtmm0cz6w] {
        height: 8rem; 
        width: 58rem;
        margin-bottom: 10rem; 
        padding: 10px; 
        overflow: hidden;
        margin-left: 0rem;
    }

    .filter-bar-content[b-qhtmm0cz6w] {
        font-size: 2.1rem;
    }
    .date-text[b-qhtmm0cz6w] {
        font-size: 1.1rem;
        margin-top: 0.8rem;
        margin-left: 1.8rem;
    }
}
@media (max-width: 1250px) {
    .filter-box[b-qhtmm0cz6w] {
        height: 8rem; 
        width: 48rem;
        margin-bottom: 10rem; 
        padding: 10px; 
        overflow: hidden;
        margin-left: 0rem;
    }

    .filter-bar-content[b-qhtmm0cz6w] {
        font-size: 2.1rem;
    }
    .date-text[b-qhtmm0cz6w] {
        font-size: 1.1rem;
        margin-top: 0.8rem;
        margin-left: 1.8rem;
    }
}
@media (max-width: 1024px) {
    .filter-box[b-qhtmm0cz6w] {
        height: 7rem; 
        width: 38rem;
        margin-bottom: 10rem; 
        padding: 10px; 
        overflow: hidden;
        margin-left: 0rem;
    }

    .filter-bar-content[b-qhtmm0cz6w] {
        font-size: 2.1rem;
    }
    .date-text[b-qhtmm0cz6w] {
        font-size: 1.1rem;
        margin-top: 0.8rem;
        margin-left: 1.8rem;
    }
}
@media (max-width: 850px) {
    .filter-box[b-qhtmm0cz6w] {
        height: 6rem; 
        width: 32rem;
        margin-bottom: 10rem; 
        padding: 10px; 
        overflow: hidden;
        margin-left: 0rem;
    }

    .filter-bar-content[b-qhtmm0cz6w] {
        font-size: 1.2rem;
    }
    .date-text[b-qhtmm0cz6w] {
        font-size: 1rem;
        margin-top: 0.6rem;
        margin-left: 1.6rem;
    }
}

@media (max-width: 767px) {
    .filter-box[b-qhtmm0cz6w] {
        height: 5rem; 
        width: 200rem;
        margin-bottom: 10rem; 
        padding: 10px; 
        overflow: hidden;
    }

    .filter-bar-content[b-qhtmm0cz6w] {
        font-size: 1.2rem;
    }
    .date-text[b-qhtmm0cz6w] {
        font-size: 1rem;
        margin-top: 0.6rem;
        margin-left: 1.6rem;
    }
}

@media (max-width: 600px) {
    .filter-box[b-qhtmm0cz6w] {
        height: 6rem; 
        width: 200rem;
        margin-bottom: 10rem; 
        padding: 10px; 
        overflow: hidden;
    }

    .filter-bar-content[b-qhtmm0cz6w] {
        font-size: 1.2rem;
    }
    .date-text[b-qhtmm0cz6w] {
        font-size: 1rem;
        margin-top: 0.6rem;
        margin-left: 1.6rem;
    }
}

@media (max-width: 580px) {
    .filter-box[b-qhtmm0cz6w] {
        height: 6rem; 
        width: 30rem;
        margin-bottom: 10rem; 
        padding: 10px; 
        overflow: hidden;
    }

    .filter-bar-content[b-qhtmm0cz6w] {
        font-size: 1.2rem;
    }
    .date-text[b-qhtmm0cz6w] {
        font-size: 1rem;
        margin-top: 0.6rem;
        margin-left: 1.6rem;
    }
}

@media (max-width: 500px) {
    .filter-box[b-qhtmm0cz6w] {
        height: 6rem; 
        width: 24rem;
        margin-bottom: 10rem; 
        padding: 10px; 
        overflow: hidden;
    }

    .filter-bar-content[b-qhtmm0cz6w] {
        font-size: 1rem;
    }
    .date-text[b-qhtmm0cz6w] {
        font-size: 0.8rem;
        margin-top: 0.6rem;
        margin-left: 1.6rem;
    }
}
@media (max-width: 375px) {
    .filter-box[b-qhtmm0cz6w] {
        height: 6rem; 
        width: 20rem;
        margin-bottom: 10rem; 
        padding: 10px; 
        overflow: hidden;
    }

    .filter-bar-content[b-qhtmm0cz6w] {
        font-size: 0.8rem;
    }
    .date-text[b-qhtmm0cz6w] {
        font-size: 0.4rem;
        margin-top: 0.6rem;
        margin-left: 1.6rem;
    }
}

@media (max-width: 325px) {
    .filter-box[b-qhtmm0cz6w] {
        height: 6rem; 
        width: 18rem;
        margin-bottom: 10rem; 
        padding: 10px; 
        overflow: hidden;
    }

    .filter-bar-content[b-qhtmm0cz6w] {
        font-size: 0.8rem;
    }
    .date-text[b-qhtmm0cz6w] {
        font-size: 0.4rem;
        margin-top: 0.6rem;
        margin-left: 1.6rem;
    }
}
/* /Shared/FilterButton.razor.rz.scp.css */
.resizable-input[b-ai7pk45s0y] {
    width: 10rem;
}

.small-button[b-ai7pk45s0y] {
    width: 5rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .resizable-input[b-ai7pk45s0y] {
        width: 5rem;
        font-size: 0.8rem;
    }
    .small-button[b-ai7pk45s0y] {
        width: 4rem;
        height: 2.5rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 850px) {
    .resizable-input[b-ai7pk45s0y] {
        width: 4rem;
        font-size: 0.7rem;
    }
    .small-button[b-ai7pk45s0y] {
        width: 3.5rem;
        height: 2rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .resizable-input[b-ai7pk45s0y] {
        width: 3rem;
        font-size: 0.6rem;
    }
    .small-button[b-ai7pk45s0y] {
        width: 3rem;
        height: 1.8rem;
        font-size: 0.7rem;
    }
}

@media (max-width: 600px) {
    .resizable-input[b-ai7pk45s0y] {
        width: 2.5rem;
        font-size: 0.5rem;
    }
    .small-button[b-ai7pk45s0y] {
        width: 2.5rem;
        height: 1.5rem;
        font-size: 0.6rem;
    }
}

@media (max-width: 425px) {
    .resizable-input[b-ai7pk45s0y] {
        width: 2rem;
        font-size: 0.4rem;
    }
    .small-button[b-ai7pk45s0y] {
        width: 2rem;
        height: 1.2rem;
        font-size: 0.5rem;
    }
}

@media (max-width: 375px) {
    .resizable-input[b-ai7pk45s0y] {
        width: 1.5rem;
        font-size: 0.3rem;
    }
    .small-button[b-ai7pk45s0y] {
        width: 1.5rem;
        height: 1rem;
        font-size: 0.4rem;
    }
}
/* /Shared/FourButtons.razor.rz.scp.css */
.the-button[b-8cl7fxz58q] {
    width: 12rem;
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    margin-top: 1rem;

}

@media (max-width: 1024px) {
    .the-button[b-8cl7fxz58q] {
        width: 8rem;
        padding: 8px;
        font-size: 10px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5rem;
        margin-top: 0.8rem;
    
    }
}
@media (max-width: 850px) {
    .the-button[b-8cl7fxz58q] {
        width: 6rem;
        padding: 6px;
        font-size: 8px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5rem;
        margin-top: 0.5rem;
    
    }
}
@media (max-width: 600px) {
    .the-button[b-8cl7fxz58q] {
        width: 5rem;
        padding: 6px;
        font-size: 8px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5rem;
        margin-top: 0.3rem;
    
    }
}

@media (max-width: 500px) {
    .the-button[b-8cl7fxz58q] {
        width: 5rem;
        padding: 6px;
        font-size: 8px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5rem;
        margin-top: 0.3rem;
    
    }
    @media (max-width: 450px) {
        .the-button[b-8cl7fxz58q] {
            width: 4rem;
            padding: 6px;
            font-size: 6px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            border-radius: 5rem;
            margin-top: 0.2rem;
        
        }
    }
}
/* /Shared/LicitacaoLeilaoAdmin.razor.rz.scp.css */
body[b-4osud2gjz2] {
}
/* /Shared/ListaProdutos.razor.rz.scp.css */
.container-cards[b-qo8idh21y6] {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.card[b-qo8idh21y6] {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 25rem;
    border-radius: 24px;
    overflow: hidden;
    background-color: #F0F0F0;
    align-items: center;
    margin-bottom: 1rem;
}

.card-img-wrapper[b-qo8idh21y6] {
    margin-bottom: 2rem;
}

.card-img[b-qo8idh21y6] {
    margin-top: 1.5rem;
    width: 350px;
    height: 230px;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    object-fit: cover;
}

.card-text[b-qo8idh21y6] {
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
    padding: 0 1rem;
    width: 100%;
    margin-left: 2rem;
}

    .card-text a[b-qo8idh21y6] {
        color: inherit;
        text-decoration: none;
    }

    .card-text h4[b-qo8idh21y6] {
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .card-text p[b-qo8idh21y6] {
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
/* /Shared/ListaProdutosAdmin.razor.rz.scp.css */
.container-cards[b-x1lbnu3055] {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.card[b-x1lbnu3055] {
    display: flex;
    flex-direction: column;
    width: 25rem;
    height: 25rem;
    border-radius: 24px;
    overflow: hidden;
    background-color: #F0F0F0;
    align-items: center;
    margin-bottom: 1rem;
}

.card-img-wrapper[b-x1lbnu3055] {
    margin-bottom: 2rem;
}

.card-img[b-x1lbnu3055] {
    margin-top: 1.5rem;
    width: 350px;
    height: 230px;
    position: relative;
    overflow: hidden;
    border-radius: 24px;
    object-fit: cover;
}

.card-text[b-x1lbnu3055] {
    font-weight: bold;
    font-size: 1rem;
    text-align: left;
    padding: 0 1rem;
    width: 100%;
    margin-left: 2rem;
}

    .card-text a[b-x1lbnu3055] {
        color: inherit;
        text-decoration: none;
    }

    .card-text h4[b-x1lbnu3055] {
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        font-size: 1.2rem;
        font-weight: bold;
    }

    .card-text p[b-x1lbnu3055] {
        margin-top: 0.1rem;
        margin-bottom: 0.1rem;
        font-size: 1.2rem;
        font-weight: bold;
    }
/* /Shared/LoginComp.razor.rz.scp.css */
/* Navbar Styles */
.navbar-logo[b-2xz57jece3] {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 12rem; /* Distance from the top */
    
}

.navbar-logo img[b-2xz57jece3] {
    width:30rem; 
    height: auto; 
}

form[b-2xz57jece3] {
    max-width: 50rem;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 5px;
    
}

.form-group[b-2xz57jece3] {
    margin-bottom: 1.8rem;
}

label[b-2xz57jece3] {
    font-weight: bold;
}

.form-control[b-2xz57jece3] {
    width: 40rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2rem;
}

.log-button[b-2xz57jece3] {
    width: 15rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    margin-bottom: 0.5rem;
}

.log-button:hover[b-2xz57jece3] {
    background-color: #333;
    color: #fff;
}
.form-flex[b-2xz57jece3] {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items horizontally */
}

.button-container[b-2xz57jece3] {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

@media (max-width: 650px) {
    .navbar-logo[b-2xz57jece3] {
        margin-top: 5rem; /* Distance from the top */
    }
    
    .navbar-logo img[b-2xz57jece3] {
        width:20rem; 
    }
    
    .form-group[b-2xz57jece3] {
        margin-bottom: 1.4rem;
    }

    .form-control[b-2xz57jece3] {
        width: 30rem;
        padding: 10px;
        font-size: 16px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 2rem;
    }
    
    .log-button[b-2xz57jece3] {
        width: 15rem;
        padding: 10px;
        font-size: 10px;

    }
      
    .button-container[b-2xz57jece3] {
        margin-top: 1.5rem;
    }
}
@media (max-width: 485px) {
    .navbar-logo[b-2xz57jece3] {
        margin-top: 5rem; /* Distance from the top */
    }
    
    .navbar-logo img[b-2xz57jece3] {
        width:20rem; 
    }
    
    .form-group[b-2xz57jece3] {
        margin-bottom: 1.4rem;
    }

    .form-control[b-2xz57jece3] {
        width: 25rem;
        padding: 10px;
        font-size: 14px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 2rem;
    }
    
    .log-button[b-2xz57jece3] {
        width: 15rem;
        padding: 10px;
        font-size: 14px;

    }
      
    .button-container[b-2xz57jece3] {
        margin-top: 1.5rem;
    }
}
@media (max-width: 400px) {
    .navbar-logo[b-2xz57jece3] {
        margin-top: 4.5rem; /* Distance from the top */
    }
    
    .navbar-logo img[b-2xz57jece3] {
        width:16rem; 
    }
    
    .form-group[b-2xz57jece3] {
        margin-bottom: 1.1rem;
    }

    .form-control[b-2xz57jece3] {
        width: 19rem;
        padding: 10px;
        font-size: 14px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 2rem;
    }
    
    .log-button[b-2xz57jece3] {
        width: 13rem;
        padding: 10px;
        font-size: 14px;

    }
      
    .button-container[b-2xz57jece3] {
        margin-top: 1rem;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-xioo9vtl0m] {
    margin-left: 5rem;
    margin-right: 5rem;
}

@media (max-width: 1024px) {
    .page[b-xioo9vtl0m] {
        margin-left: 4rem;
        margin-right: 4rem;
    }
}

@media (max-width: 768px) {
    .page[b-xioo9vtl0m] {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media (max-width: 600px) {
    .page[b-xioo9vtl0m] {
        margin-left: 2.5rem;
        margin-right: 2.5rem;
    }
}

@media (max-width:425px) {
    .page[b-xioo9vtl0m] {
        margin-left: 1.5rem;
        margin-right: 1.5rem;
    }
}

@media (max-width:375px) {
    .page[b-xioo9vtl0m] {
        margin-left: 1.2rem;
        margin-right: 1.2rem;
    }
}
/* /Shared/NavMenu.razor.rz.scp.css */
/* Navbar styling */
.navbar[b-bpibnvqyjf] {
    background-color: #ffffff !important; /* Set your desired background color to white */
    padding: 15px; /* Add padding for better appearance */
}

/* Logo styling */
.navbar-brand img[b-bpibnvqyjf] {
    max-height: 8rem; /* Set your desired max height for the logo */
}

/* Toggler styling */
.navbar-toggler[b-bpibnvqyjf] {
    border: none;
}

.navbar-toggler-icon[b-bpibnvqyjf] {
    background-color: #fff; /* Set your desired color for the toggler icon */
}

/* Navbar links styling */
.navbar-nav .nav-link[b-bpibnvqyjf] {
    color: #000; /* Set your desired color for the links */
    margin: 3px; /* Add margin for better spacing between links */
    font-weight: bold; /* Optional: Set font weight for the links */
}

/* Optional: Change link color on hover */
.navbar-nav .nav-link:hover[b-bpibnvqyjf] {
    color: #555; /* Set your desired color for link hover */
}

/* Optional: Add media queries for responsive font sizes or any other adjustments */
@media (max-width: 768px) {
    .navbar-brand img[b-bpibnvqyjf] {
        max-height: 3rem; /* Adjust logo height for smaller screens */
    }

    .navbar-toggler-icon[b-bpibnvqyjf] {
        background-color: #fff; /* Adjust toggler icon color for smaller screens */
        max-height: 1rem;
    }

    .navbar-nav .nav-link[b-bpibnvqyjf] {
        font-size: 8px; /* Adjust font size for smaller screens */
    }
}
/* /Shared/NavMenuAdmin.razor.rz.scp.css */
/* Navbar styling */
.navbar[b-3slexqnbe2] {
    background-color: #ffffff !important; /* Set your desired background color to white */
    padding: 15px; /* Add padding for better appearance */
}

/* Logo styling */
.navbar-brand img[b-3slexqnbe2] {
    max-height: 8rem; /* Set your desired max height for the logo */
}

/* Toggler styling */
.navbar-toggler[b-3slexqnbe2] {
    border: none;
}

.navbar-toggler-icon[b-3slexqnbe2] {
    background-color: #fff; /* Set your desired color for the toggler icon */
}

/* Navbar links styling */
.navbar-nav .nav-link[b-3slexqnbe2] {
    color: #000; /* Set your desired color for the links */
    margin: 3px; /* Add margin for better spacing between links */
    font-weight: bold; /* Optional: Set font weight for the links */
}

    /* Optional: Change link color on hover */
    .navbar-nav .nav-link:hover[b-3slexqnbe2] {
        color: #555; /* Set your desired color for link hover */
    }

/* Optional: Add media queries for responsive font sizes or any other adjustments */
@media (max-width: 768px) {
    .navbar-brand img[b-3slexqnbe2] {
        max-height: 3rem; /* Adjust logo height for smaller screens */
    }

    .navbar-toggler-icon[b-3slexqnbe2] {
        background-color: #fff; /* Adjust toggler icon color for smaller screens */
        max-height: 1rem;
    }

    .navbar-nav .nav-link[b-3slexqnbe2] {
        font-size: 8px; /* Adjust font size for smaller screens */
    }
}
/* /Shared/OrderButton.razor.rz.scp.css */
.small-button[b-d4bbyx5zss] {
    width: 5rem;
    border-radius: 1.5rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1024px) {
    .small-button[b-d4bbyx5zss] {
        width: 4rem;
        height: 2.5rem;
        font-size: 0.9rem;
    }
}

@media (max-width: 850px) {
    .small-button[b-d4bbyx5zss] {
        width: 3.5rem;
        height: 2rem;
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    .small-button[b-d4bbyx5zss] {
        width: 3rem;
        height: 1.8rem;
        font-size: 0.7rem;
    }
}

@media (max-width: 600px) {
    .small-button[b-d4bbyx5zss] {
        width: 2.5rem;
        height: 1.5rem;
        font-size: 0.6rem;
    }
}

@media (max-width: 425px) {
    .small-button[b-d4bbyx5zss] {
        width: 2.1rem;
        height: 1.2rem;
        font-size: 0.5rem;
    }
}

@media (max-width: 375px) {
    .small-button[b-d4bbyx5zss] {
        width: 1.5.5rem;
        height: 1rem;
        font-size: 0.4rem;
    }
}
/* /Shared/Profile.razor.rz.scp.css */
.form-control[b-2dbehg633o] {
    width: 40rem;
    padding: 20px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-right: 12rem;
    margin-bottom: 1rem; /* Add margin between input boxes */
}
.info[b-2dbehg633o]{

    font-size: 1.5rem;
    margin-top:2.5rem;
    margin-bottom:1rem;

}
.button-container[b-2dbehg633o] {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

.log-button[b-2dbehg633o] {
    width: 15rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    margin-bottom: 0.5rem;
    margin-left: 13rem;
}
.containerImagem img[b-2dbehg633o]{
    width:8rem;

}
.containerImagem[b-2dbehg633o] {
    margin-bottom: 2rem;
    margin-left: 16rem;

}

/* /Shared/RegistUser.razor.rz.scp.css */
.navbar-logo[b-lt1pe4jggy] {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 1rem; /* Distance from the top */
    
}

.navbar-logo img[b-lt1pe4jggy] {
    width:25rem; 
    height: auto; 
}

form[b-lt1pe4jggy] {
    max-width: 50rem;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 5px;
    
}

.form-group[b-lt1pe4jggy] {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space items evenly along the line */
    align-items: center; /* Center items vertically */
    margin-bottom: 1.3rem;
    /* Optionally, add additional styles for spacing, margins, etc. */
}

.form-group-cont[b-lt1pe4jggy] {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space items evenly along the line */
    align-items: center; /* Center items vertically */
    margin-bottom: 1.3rem;
    /* Optionally, add additional styles for spacing, margins, etc. */
}
.form-control[b-lt1pe4jggy] {
    width: 40rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
}
.form-control-morada[b-lt1pe4jggy] {
    width: 19rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-right:1rem;
   
}

.form-control-pagamento[b-lt1pe4jggy] {
    width: 19rem;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-right:1rem;
    text-align: center; /* Align text horizontally in the center */
    line-height: 1rem; /* Vertically center the text */
   
}

.form-control-cont-in[b-lt1pe4jggy] {
    width: 5.8rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    margin-left: -20rem;
    height: 2.3rem;
 
}
.form-control-cont-cont[b-lt1pe4jggy] {
    width: 13rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 2.3rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
}
.form-control-cont-id[b-lt1pe4jggy] {
    width: 20rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 2.3rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
    margin-right: -20rem;
}

.log-button[b-lt1pe4jggy] {
    width: 15rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    margin-bottom: 0.5rem;
}

.log-button:hover[b-lt1pe4jggy] {
    background-color: #333;
    color: #fff;
}
.form-flex[b-lt1pe4jggy] {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items horizontally */
}

.button-container[b-lt1pe4jggy] {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}
@media(max-width:648px){
    .navbar-logo[b-lt1pe4jggy] {
        margin-top: 0.7rem; /* Distance from the top */
        
    }
    .navbar-logo img[b-lt1pe4jggy] {
        width:20rem; 
    }

.form-group[b-lt1pe4jggy] {
    margin-bottom: 1.2rem;
}

.form-group-cont[b-lt1pe4jggy] {
    margin-bottom: 1.2rem;
}
.form-control[b-lt1pe4jggy] {
    width: 34rem;
    padding: 10px;
    font-size: 15px;
    height: 2.3rem;
}
.form-control-morada[b-lt1pe4jggy] {
    width: 16.9rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-right:0.3rem;
   
}

.form-control-pagamento[b-lt1pe4jggy] {
    width: 16.9rem;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-right:1rem;
    text-align: center; /* Align text horizontally in the center */
    line-height: 1rem; /* Vertically center the text */
   
}

.form-control-cont-in[b-lt1pe4jggy] {
    width: 5rem;
    padding: 10px;
    font-size: 13.5px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    margin-left: -17rem;
    height: 2.3rem;
 
}
.form-control-cont-cont[b-lt1pe4jggy] {
    width: 12rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 2.3rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
}
.form-control-cont-id[b-lt1pe4jggy] {
    width: 15rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 2.3rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
    margin-right: -17rem;
}

.log-button[b-lt1pe4jggy] {
    width: 15rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    margin-bottom: 0rem;
}

.log-button:hover[b-lt1pe4jggy] {
    background-color: #333;
    color: #fff;
}
.form-flex[b-lt1pe4jggy] {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items horizontally */
}

.button-container[b-lt1pe4jggy] {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

}
@media(max-width:560px){
    .navbar-logo[b-lt1pe4jggy] {
        margin-top: 0.5rem; /* Distance from the top */
        
    }
    .navbar-logo img[b-lt1pe4jggy] {
        width:18rem; 
    }

.form-group[b-lt1pe4jggy] {
    margin-bottom: 1rem;
}

.form-group-cont[b-lt1pe4jggy] {
    margin-bottom: 1rem;
}
.form-control[b-lt1pe4jggy] {
    width: 28rem;
    padding: 10px;
    font-size: 15px;
    height: 2.3rem;
}
.form-control-morada[b-lt1pe4jggy] {
    width: 13rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-right:0.8rem;
   
}

.form-control-pagamento[b-lt1pe4jggy] {
    width: 13rem;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-right:1rem;
    text-align: center; /* Align text horizontally in the center */
    line-height: 1rem; /* Vertically center the text */
   
}

.form-control-cont-in[b-lt1pe4jggy] {
    width: 4rem;
    padding: 10px;
    font-size: 13px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    margin-left: -14rem;
    height: 2.3rem;
 
}
.form-control-cont-cont[b-lt1pe4jggy] {
    width: 10rem;
    padding: 10px;
    font-size: 14px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 2.3rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
}
.form-control-cont-id[b-lt1pe4jggy] {
    width: 12rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 2.3rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
    margin-right: -14rem;
}

.log-button[b-lt1pe4jggy] {
    width: 15rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    margin-bottom: 0rem;
}

.log-button:hover[b-lt1pe4jggy] {
    background-color: #333;
    color: #fff;
}
.form-flex[b-lt1pe4jggy] {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items horizontally */
}

.button-container[b-lt1pe4jggy] {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

}


@media(max-width:460px){
    .navbar-logo[b-lt1pe4jggy] {
        margin-top: 0.5rem; /* Distance from the top */
        
    }
    .navbar-logo img[b-lt1pe4jggy] {
        width:12rem; 
    }

.form-group[b-lt1pe4jggy] {
    margin-bottom: 1rem;
}

.form-group-cont[b-lt1pe4jggy] {
    margin-bottom: 1rem;
}
.form-control[b-lt1pe4jggy] {
    width: 20rem;
    padding: 10px;
    font-size: 12px;
    height: 1.8rem;
}
.form-control-morada[b-lt1pe4jggy] {
    width: 9.2rem;
    padding: 10px;
    font-size: 12px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 1.8rem;
    margin-right:0.8rem;
   
}

.form-control-pagamento[b-lt1pe4jggy] {
    width: 9.2rem;
    padding: 10px;
    font-size: 10px;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 1.8rem;
    margin-right:1rem;
    text-align: center; /* Align text horizontally in the center */
    line-height: 0.5rem; /* Vertically center the text */
   
}

.form-control-cont-in[b-lt1pe4jggy] {
    width: 3rem;
    padding: 10px;
    font-size: 10px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    margin-left: -10rem;
    height: 1.8rem;
 
}
.form-control-cont-cont[b-lt1pe4jggy] {
    width: 8rem;
    padding: 10px;
    font-size: 10px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 1.8rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
}
.form-control-cont-id[b-lt1pe4jggy] {
    width: 8rem;
    padding: 10px;
    font-size: 10px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height:1.8rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
    margin-right: -10rem;
}

.log-button[b-lt1pe4jggy] {
    width: 15rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    margin-bottom: 0rem;
}

.log-button:hover[b-lt1pe4jggy] {
    background-color: #333;
    color: #fff;
}
.form-flex[b-lt1pe4jggy] {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items horizontally */
}

.button-container[b-lt1pe4jggy] {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

}
/* /Shared/TwoButtons.razor.rz.scp.css */
.the-button[b-lmc71w047s] {
    width: 12rem;
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    margin-top: 1rem;
}

@media (max-width: 1024px) {
    .the-button[b-lmc71w047s] {
        width: 8rem;
        padding: 8px;
        font-size: 10px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5rem;
        margin-top: 0.8rem;
    }
}

@media (max-width: 850px) {
    .the-button[b-lmc71w047s] {
        width: 6rem;
        padding: 6px;
        font-size: 8px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5rem;
        margin-top: 0.5rem;
    }
}

@media (max-width: 600px) {
    .the-button[b-lmc71w047s] {
        width: 5rem;
        padding: 6px;
        font-size: 8px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5rem;
        margin-top: 0.3rem;
    }
}

@media (max-width: 500px) {
    .the-button[b-lmc71w047s] {
        width: 5rem;
        padding: 6px;
        font-size: 8px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5rem;
        margin-top: 0.3rem;
    }

    @media (max-width: 450px) {
        .the-button[b-lmc71w047s] {
            width: 4rem;
            padding: 6px;
            font-size: 6px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            border-radius: 5rem;
            margin-top: 0.2rem;
        }
    }
}
