/* Navbar styling */
.navbar[b-3slexqnbe2] {
    background-color: #ffffff !important; /* Set your desired background color to white */
    padding: 15px; /* Add padding for better appearance */
}

/* Logo styling */
.navbar-brand img[b-3slexqnbe2] {
    max-height: 8rem; /* Set your desired max height for the logo */
}

/* Toggler styling */
.navbar-toggler[b-3slexqnbe2] {
    border: none;
}

.navbar-toggler-icon[b-3slexqnbe2] {
    background-color: #fff; /* Set your desired color for the toggler icon */
}

/* Navbar links styling */
.navbar-nav .nav-link[b-3slexqnbe2] {
    color: #000; /* Set your desired color for the links */
    margin: 3px; /* Add margin for better spacing between links */
    font-weight: bold; /* Optional: Set font weight for the links */
}

    /* Optional: Change link color on hover */
    .navbar-nav .nav-link:hover[b-3slexqnbe2] {
        color: #555; /* Set your desired color for link hover */
    }

/* Optional: Add media queries for responsive font sizes or any other adjustments */
@media (max-width: 768px) {
    .navbar-brand img[b-3slexqnbe2] {
        max-height: 3rem; /* Adjust logo height for smaller screens */
    }

    .navbar-toggler-icon[b-3slexqnbe2] {
        background-color: #fff; /* Adjust toggler icon color for smaller screens */
        max-height: 1rem;
    }

    .navbar-nav .nav-link[b-3slexqnbe2] {
        font-size: 8px; /* Adjust font size for smaller screens */
    }
}
