.navbar-logo[b-lt1pe4jggy] {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 1rem; /* Distance from the top */
    
}

.navbar-logo img[b-lt1pe4jggy] {
    width:25rem; 
    height: auto; 
}

form[b-lt1pe4jggy] {
    max-width: 50rem;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 5px;
    
}

.form-group[b-lt1pe4jggy] {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space items evenly along the line */
    align-items: center; /* Center items vertically */
    margin-bottom: 1.3rem;
    /* Optionally, add additional styles for spacing, margins, etc. */
}

.form-group-cont[b-lt1pe4jggy] {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space items evenly along the line */
    align-items: center; /* Center items vertically */
    margin-bottom: 1.3rem;
    /* Optionally, add additional styles for spacing, margins, etc. */
}
.form-control[b-lt1pe4jggy] {
    width: 40rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
}
.form-control-morada[b-lt1pe4jggy] {
    width: 19rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-right:1rem;
   
}

.form-control-pagamento[b-lt1pe4jggy] {
    width: 19rem;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-right:1rem;
    text-align: center; /* Align text horizontally in the center */
    line-height: 1rem; /* Vertically center the text */
   
}

.form-control-cont-in[b-lt1pe4jggy] {
    width: 5.8rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    margin-left: -20rem;
    height: 2.3rem;
 
}
.form-control-cont-cont[b-lt1pe4jggy] {
    width: 13rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 2.3rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
}
.form-control-cont-id[b-lt1pe4jggy] {
    width: 20rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 2.3rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
    margin-right: -20rem;
}

.log-button[b-lt1pe4jggy] {
    width: 15rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    margin-bottom: 0.5rem;
}

.log-button:hover[b-lt1pe4jggy] {
    background-color: #333;
    color: #fff;
}
.form-flex[b-lt1pe4jggy] {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items horizontally */
}

.button-container[b-lt1pe4jggy] {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}
@media(max-width:648px){
    .navbar-logo[b-lt1pe4jggy] {
        margin-top: 0.7rem; /* Distance from the top */
        
    }
    .navbar-logo img[b-lt1pe4jggy] {
        width:20rem; 
    }

.form-group[b-lt1pe4jggy] {
    margin-bottom: 1.2rem;
}

.form-group-cont[b-lt1pe4jggy] {
    margin-bottom: 1.2rem;
}
.form-control[b-lt1pe4jggy] {
    width: 34rem;
    padding: 10px;
    font-size: 15px;
    height: 2.3rem;
}
.form-control-morada[b-lt1pe4jggy] {
    width: 16.9rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-right:0.3rem;
   
}

.form-control-pagamento[b-lt1pe4jggy] {
    width: 16.9rem;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-right:1rem;
    text-align: center; /* Align text horizontally in the center */
    line-height: 1rem; /* Vertically center the text */
   
}

.form-control-cont-in[b-lt1pe4jggy] {
    width: 5rem;
    padding: 10px;
    font-size: 13.5px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    margin-left: -17rem;
    height: 2.3rem;
 
}
.form-control-cont-cont[b-lt1pe4jggy] {
    width: 12rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 2.3rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
}
.form-control-cont-id[b-lt1pe4jggy] {
    width: 15rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 2.3rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
    margin-right: -17rem;
}

.log-button[b-lt1pe4jggy] {
    width: 15rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    margin-bottom: 0rem;
}

.log-button:hover[b-lt1pe4jggy] {
    background-color: #333;
    color: #fff;
}
.form-flex[b-lt1pe4jggy] {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items horizontally */
}

.button-container[b-lt1pe4jggy] {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

}
@media(max-width:560px){
    .navbar-logo[b-lt1pe4jggy] {
        margin-top: 0.5rem; /* Distance from the top */
        
    }
    .navbar-logo img[b-lt1pe4jggy] {
        width:18rem; 
    }

.form-group[b-lt1pe4jggy] {
    margin-bottom: 1rem;
}

.form-group-cont[b-lt1pe4jggy] {
    margin-bottom: 1rem;
}
.form-control[b-lt1pe4jggy] {
    width: 28rem;
    padding: 10px;
    font-size: 15px;
    height: 2.3rem;
}
.form-control-morada[b-lt1pe4jggy] {
    width: 13rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-right:0.8rem;
   
}

.form-control-pagamento[b-lt1pe4jggy] {
    width: 13rem;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-right:1rem;
    text-align: center; /* Align text horizontally in the center */
    line-height: 1rem; /* Vertically center the text */
   
}

.form-control-cont-in[b-lt1pe4jggy] {
    width: 4rem;
    padding: 10px;
    font-size: 13px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    margin-left: -14rem;
    height: 2.3rem;
 
}
.form-control-cont-cont[b-lt1pe4jggy] {
    width: 10rem;
    padding: 10px;
    font-size: 14px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 2.3rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
}
.form-control-cont-id[b-lt1pe4jggy] {
    width: 12rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 2.3rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
    margin-right: -14rem;
}

.log-button[b-lt1pe4jggy] {
    width: 15rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    margin-bottom: 0rem;
}

.log-button:hover[b-lt1pe4jggy] {
    background-color: #333;
    color: #fff;
}
.form-flex[b-lt1pe4jggy] {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items horizontally */
}

.button-container[b-lt1pe4jggy] {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

}


@media(max-width:460px){
    .navbar-logo[b-lt1pe4jggy] {
        margin-top: 0.5rem; /* Distance from the top */
        
    }
    .navbar-logo img[b-lt1pe4jggy] {
        width:12rem; 
    }

.form-group[b-lt1pe4jggy] {
    margin-bottom: 1rem;
}

.form-group-cont[b-lt1pe4jggy] {
    margin-bottom: 1rem;
}
.form-control[b-lt1pe4jggy] {
    width: 20rem;
    padding: 10px;
    font-size: 12px;
    height: 1.8rem;
}
.form-control-morada[b-lt1pe4jggy] {
    width: 9.2rem;
    padding: 10px;
    font-size: 12px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 1.8rem;
    margin-right:0.8rem;
   
}

.form-control-pagamento[b-lt1pe4jggy] {
    width: 9.2rem;
    padding: 10px;
    font-size: 10px;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 1.8rem;
    margin-right:1rem;
    text-align: center; /* Align text horizontally in the center */
    line-height: 0.5rem; /* Vertically center the text */
   
}

.form-control-cont-in[b-lt1pe4jggy] {
    width: 3rem;
    padding: 10px;
    font-size: 10px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    margin-left: -10rem;
    height: 1.8rem;
 
}
.form-control-cont-cont[b-lt1pe4jggy] {
    width: 8rem;
    padding: 10px;
    font-size: 10px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 1.8rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
}
.form-control-cont-id[b-lt1pe4jggy] {
    width: 8rem;
    padding: 10px;
    font-size: 10px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height:1.8rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
    margin-right: -10rem;
}

.log-button[b-lt1pe4jggy] {
    width: 15rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    margin-bottom: 0rem;
}

.log-button:hover[b-lt1pe4jggy] {
    background-color: #333;
    color: #fff;
}
.form-flex[b-lt1pe4jggy] {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items horizontally */
}

.button-container[b-lt1pe4jggy] {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

}