@page "/aboutus"
<body>
    <div class="about-us">
        <div class="overlap-group-wrapper">
            <div class="overlap-group">
                <a href="/"> 
                    <img class="whatsapp-image" src="logof.png" />
                </a>
                <div class="rectangle"></div>
                <div class="morada-braga-s-o">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Morada:<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Braga<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    São Vitor<br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 4781-123
                </div>
                <div class="email-birdbox-gmail">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Email:<br />birdbox@gmail.com
                </div>
                <img class="pngtreephone-icon-in" src="telefone.png" />
                <img class="vecteezy-email-and" src="mail.png" />
                <img class="vecteezy-mapa" src="pin.png" />
                <div class="contactos">Contactos:<br /><br />966 214 124<br />253 531 112</div>
                <p class="text-wrapper">Não hesite em nos contactar!</p>
            </div>
        </div>
    </div>
</body>
