<div class="card">
  <img class="card-img-top" src="logo.png" alt="Card image cap">
  <div class="card-body">
    <p class="card-title">Card title</p>
    <p class="card-text">Entrada</p>
    <p class="card-text">Timer</p>
  </div>
</div>

