@using BirdBoxFull.Shared;
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<div class="navbar-logo"><a href=""><img src="logof.png" alt="Logo" /></a></div>
<EditForm Model = "user" OnSubmit="HandleLogin">
<form class="form-flex"> <!-- Apply the form-flex class -->
    <div class="form-group">
        <input  class="form-control" id="oneUsername" aria-describedby="usernameHelp" placeholder="Username:" @bind-value="user.Username">
    </div>
    <div class="form-group">
        <input  class="form-control" id="onePassword" placeholder="Password:" @bind-value="user.Password">
    </div>
    <div class="button-container"> <!-- Create a container for buttons -->
        <button type="submit" class="btn btn-dark log-button">Login</button>
        <button @onclick="GoToRegistration" class="btn btn-dark log-button">Fazer Registo</button>
    </div>
</form>
</EditForm>


@code {
    // Method to handle button click and navigate to registration page
    private void GoToRegistration()
    {
        NavigationManager.NavigateTo("/registo");
    }

    private Utilizador user = new Utilizador();

    private void HandleLogin()
    {
        Console.WriteLine("MAMAMAMA");
    }
}