.navbar-logo {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    margin-top: 1rem; /* Distance from the top */
    
}

.navbar-logo img {
    width:25rem; 
    height: auto; 
}

form {
    max-width: 50rem;
    margin: 0 auto;
    padding: 20px;
    
    border-radius: 5px;
    
}

.form-group {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space items evenly along the line */
    align-items: center; /* Center items vertically */
    margin-bottom: 1.3rem;
    /* Optionally, add additional styles for spacing, margins, etc. */
}

.form-group-cont {
    display: flex; /* Use flexbox */
    justify-content: space-between; /* Space items evenly along the line */
    align-items: center; /* Center items vertically */
    margin-bottom: 1.3rem;
    /* Optionally, add additional styles for spacing, margins, etc. */
}
.form-control {
    width: 40rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-left: 35rem;
}
.form-control-morada {
    width: 25rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-right:1rem;
    margin-left:35rem;
}

.form-control-morada-dir {
    width: 19rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-right: 35rem;
}

.form-control-pagamento {
    width: 19rem;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    background-color: rgba(217,217,217,0.5);
    height: 2.3rem;
    margin-right:1rem;
    text-align: center; /* Align text horizontally in the center */
    line-height: 1rem; /* Vertically center the text */
   
}

.form-control-cont-in {
    width: 6rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 2.3rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
    margin-right 0rem;
    margin-left: 35rem;
    margin-bottom:1rem;
}
.form-control-cont-cont {
    width: 13rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 2.3rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
    margin-right: 0rem;
    margin-left: 0rem;
}
.form-control-cont-id {
    width: 20rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5rem;
    border: 1px solid #ccc;
    background-color: rgba(217, 217, 217, 0.5);
    height: 2.3rem;
    text-indent: 0rem; /* Adjust this value based on your needs */
    margin-left: 0rem;
  
}

.log-button {
    width: 15rem;
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    border-radius: 5rem;
    margin-bottom: 0.5rem;
    margin-left:47rem;
}

.log-button:hover {
    background-color: #333;
    color: #fff;
}
.form-flex {
    display: flex;
    flex-direction: column; /* Stack items vertically */
    align-items: center; /* Align items horizontally */
}

.button-container {
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
}

@media(max-width:1440px) {
    .navbar-logo {
        margin-top: 0.7rem; /* Distance from the top */
    }

        .navbar-logo img {
            width: 20rem;
        }

    .form-group {
        margin-bottom: 1.2rem;
    }

    .form-group-cont {
        margin-bottom: 1.2rem;
    }

    .form-control {
        width: 34rem;
        padding: 10px;
        font-size: 15px;
        height: 2.3rem;
        margin-left:20rem;
    }

    .form-control-morada {
        width: 25rem;
        padding: 10px;
        font-size: 16px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 2.3rem;
        margin-right: 0.3rem;
        margin-left: 20rem;
    }

    .form-control-cont-in {
        width: 5rem;
        padding: 10px;
        font-size: 13.5px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        margin-left: 20rem;
        height: 2.3rem;
    }

    .form-control-cont-cont {
        width: 12rem;
        padding: 10px;
        font-size: 16px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 2.3rem;
        text-indent: 0rem; /* Adjust this value based on your needs */
    }

    .form-control-cont-id {
        width: 16.1rem;
        padding: 10px;
        font-size: 16px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 2.3rem;
        text-indent: 0rem; /* Adjust this value based on your needs */
        margin-right: -17rem;
    }
    .form-control-morada-dir {
        width: 19rem;
        padding: 10px;
        font-size: 16px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 2.3rem;
        margin-right: 26rem;
    }

    .log-button {
        width: 15rem;
        padding: 10px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5rem;
        margin-bottom: 0rem;
        margin-left: 29rem;
    }

        .log-button:hover {
            background-color: #333;
            color: #fff;
        }

    .form-flex {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Align items horizontally */
    }

    .button-container {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
}
@media(max-width:1024px) {
    .navbar-logo {
        margin-top: 0.7rem; /* Distance from the top */
    }

        .navbar-logo img {
            width: 15rem;
        }

    .form-group {
        margin-bottom: 1.2rem;
    }

    .form-group-cont {
        margin-bottom: 1.2rem;
    }

    .form-control {
        width: 40rem;
        padding: 10px;
        font-size: 13px;
        height: 2rem;
        margin-left: 9rem;
    }

    .form-control-morada {
        width: 40rem;
        padding: 10px;
        font-size: 13px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 2rem;
        margin-right: 2rem;
        margin-left: 9rem;
    }
    .form-control-morada-dir {
        width: 40rem;
        padding: 10px;
        font-size: 13px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 2rem;
        margin-right: 7rem;
    }

    .form-control-cont-in {
        width: 5rem;
        padding: 10px;
        font-size: 13px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        margin-left: 9rem;
        margin-right: 1rem;
        height: 2.3rem;
    }

    .form-control-cont-cont {
        width: 14rem;
        padding: 10px;
        font-size: 13px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 2rem;
        text-indent: 0rem; /* Adjust this value based on your needs */
        margin-right: 1rem;
    }

    .form-control-cont-id {
        width: 18.2rem;
        padding: 10px;
        font-size: 13px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 2rem;
        text-indent: 0rem; /* Adjust this value based on your needs */
        margin-right: 0rem;
    }

    

    .log-button {
        width: 12rem;
        padding: 10px;
        font-size: 13px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5rem;
        margin-bottom: 0rem;
        margin-left: 22rem;
    }

        .log-button:hover {
            background-color: #333;
            color: #fff;
        }

    .form-flex {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Align items horizontally */
    }

    .button-container {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
}

@media(max-width:768px) {
    .navbar-logo {
        margin-top: 0.7rem; /* Distance from the top */
    }

        .navbar-logo img {
            width: 15rem;
        }

    .form-group {
        margin-bottom: 1.2rem;
    }

    .form-group-cont {
        margin-bottom: 1.2rem;
    }

    .form-control {
        width: 25rem;
        padding: 10px;
        font-size: 12px;
        height: 1.8rem;
        margin-left: 8rem;
    }

    .form-control-morada {
        width: 12rem;
        padding: 10px;
        font-size: 13px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 1.8rem;
        margin-right: 0rem;
        margin-left: 8rem;
    }

    .form-control-morada-dir {
        width: 12rem;
        padding: 10px;
        font-size: 13px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 1.8rem;
        margin-right: 9rem;
    }

    .form-control-cont-in {
        width: 4.7rem;
        padding: 10px;
        font-size: 12px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        margin-left: 8rem;
        margin-right: 0.5rem;
        height: 1.8rem;
    }

    .form-control-cont-cont {
        width: 10rem;
        padding: 10px;
        font-size: 13px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 1.8rem;
        text-indent: 0rem; /* Adjust this value based on your needs */
        margin-right: 0.2rem;
    }

    .form-control-cont-id {
        width: 9rem;
        padding: 10px;
        font-size: 13px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 1.8rem;
        text-indent: 0rem; /* Adjust this value based on your needs */
        margin-right: 0rem;
    }



    .log-button {
        width: 10rem;
        padding: 10px;
        font-size: 13px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5rem;
        margin-bottom: 0rem;
        margin-left: 15rem;
    }

        .log-button:hover {
            background-color: #333;
            color: #fff;
        }

    .form-flex {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Align items horizontally */
    }

    .button-container {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
}

@media(max-width:425px) {
    .navbar-logo {
        margin-top: 1rem; /* Distance from the top */
    }

        .navbar-logo img {
            width: 13rem;
        }

    .form-group {
        margin-bottom: 0.8rem;
    }

    .form-group-cont {
        margin-bottom: 0.8rem;
    }

    .form-control {
        width: 25rem;
        padding: 10px;
        font-size: 10px;
        height: 1.2rem;
        margin-left: 2rem;
    }

    .form-control-morada {
        width: 12rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 1.2rem;
        margin-right: 0rem;
        margin-left: 2rem;
    }

    .form-control-morada-dir {
        width: 12rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 1.2rem;
        margin-right: 0rem;
    }

    .form-control-cont-in {
        width: 4.7rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        margin-left: 2rem;
        margin-right: 0rem;
        height: 1.2rem;
    }

    .form-control-cont-cont {
        width: 8rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 1.2rem;
        text-indent: 0rem; /* Adjust this value based on your needs */
        margin-right: 0rem;
    }

    .form-control-cont-id {
        width: 8.2rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 1.2rem;
        text-indent: 0rem; /* Adjust this value based on your needs */
        margin-right: 0rem;
    }



    .log-button {
        width: 8rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5rem;
        margin-bottom: 0rem;
        margin-left: 8.6rem;
        height:2rem;
    }

        .log-button:hover {
            background-color: #333;
            color: #fff;
        }

    .form-flex {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Align items horizontally */
    }

    .button-container {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
}

@media(max-width:375px) {
    .navbar-logo {
        margin-top: 1rem; /* Distance from the top */
    }

        .navbar-logo img {
            width: 13rem;
        }

    .form-group {
        margin-bottom: 0.8rem;
    }

    .form-group-cont {
        margin-bottom: 0.8rem;
    }

    .form-control {
        width: 25rem;
        padding: 10px;
        font-size: 10px;
        height: 1.2rem;
        margin-left: 1.5rem;
    }

    .form-control-morada {
        width: 12rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 1.2rem;
        margin-right: 0rem;
        margin-left: 1.5rem;
    }

    .form-control-morada-dir {
        width: 12rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 1.2rem;
        margin-right: 0rem;
    }

    .form-control-cont-in {
        width: 4.7rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        margin-left: 1.5rem;
        margin-right: 0rem;
        height: 1.2rem;
    }

    .form-control-cont-cont {
        width: 7.7rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 1.2rem;
        text-indent: 0rem; /* Adjust this value based on your needs */
        margin-right: 0rem;
    }

    .form-control-cont-id {
        width: 6.5rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 1.2rem;
        text-indent: 0rem; /* Adjust this value based on your needs */
        margin-right: 0rem;
    }



    .log-button {
        width: 8rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5rem;
        margin-bottom: 0rem;
        margin-left: 8.6rem;
        height: 2rem;
    }

        .log-button:hover {
            background-color: #333;
            color: #fff;
        }

    .form-flex {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Align items horizontally */
    }

    .button-container {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
}

@media(max-width:320px) {
    .navbar-logo {
        margin-top: 1rem; /* Distance from the top */
    }

        .navbar-logo img {
            width: 13rem;
        }

    .form-group {
        margin-bottom: 0.8rem;
    }

    .form-group-cont {
        margin-bottom: 0.8rem;
    }

    .form-control {
        width: 25rem;
        padding: 10px;
        font-size: 10px;
        height: 1.2rem;
        margin-left: 1.5rem;
    }

    .form-control-morada {
        width: 8rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 1.2rem;
        margin-right: 0rem;
        margin-left: 1.5rem;
    }

    .form-control-morada-dir {
        width: 7rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        height: 1.2rem;
        margin-right: 0rem;
    }

    .form-control-cont-in {
        width: 3.86rem;
        padding: 10px;
        font-size: 9px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217,217,217,0.5);
        margin-left: 1.5rem;
        margin-right: 0rem;
        height: 1.2rem;
    }

    .form-control-cont-cont {
        width: 5.5rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 1.2rem;
        text-indent: 0rem; /* Adjust this value based on your needs */
        margin-right: 0rem;
    }

    .form-control-cont-id {
        width: 6rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5rem;
        border: 1px solid #ccc;
        background-color: rgba(217, 217, 217, 0.5);
        height: 1.2rem;
        text-indent: 0rem; /* Adjust this value based on your needs */
        margin-right: 0rem;
    }



    .log-button {
        width: 8rem;
        padding: 10px;
        font-size: 10px;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        border-radius: 5rem;
        margin-bottom: 0rem;
        margin-left: 5rem;
        height: 2rem;
    }

        .log-button:hover {
            background-color: #333;
            color: #fff;
        }

    .form-flex {
        display: flex;
        flex-direction: column; /* Stack items vertically */
        align-items: center; /* Align items horizontally */
    }

    .button-container {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
}
