@using BirdBoxFull.Shared;
@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@inject ILocalStorageService LocalStorage
@inject IServicoUtilizador ServicoUtilizador

<div class="navbar-logo"><a href="login"><img src="logof.png" alt="Logo" /></a></div>
<EditForm Model="newUtilizador" OnSubmit="HandleSubmit">
    <div class="form-group">
        <input type="username" class="form-control" id="oneUsername" aria-describedby="usernameHelp" placeholder="Username: " @bind-value="newUtilizador.Username">
    </div>
    <div class="form-group">
        <input type="password" class="form-control" id="onePassword" placeholder="Password:" @bind-value="newUtilizador.Password">
    </div>
    <div class="form-group">
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email:" @bind-value="newUtilizador.email">
  </div>
  <div class="form-group">
    <input type="rua" class="form-control" id="oneIndic" placeholder="Indicativo:" @bind-value="newUtilizador.indicativo">
    <input type="rua" class="form-control" id="oneTel" placeholder="Contacto:" @bind-value="newUtilizador.numeroTelemovel">
    <input type="rua" class="form-control" id="oneCc" placeholder="Identificação:" @bind-value="newUtilizador.cc">
  </div>
  <div class="form-group">
    <input type="nome" class="form-control" id="oneNme" placeholder="Nome:" @bind-value="newUtilizador.Nome">
  </div>
  <div class="form-group">
    <input type="rua" class="form-control" id="oneRua" placeholder="Rua:" @bind-value="newUtilizador.rua">
    <input type="n-porta" class="form-control" id="oneNacionalidade" placeholder="Nacionalidade:">
  </div>
  <div class="form-group">
    <input type="n-porta" class="form-control" id="oneNporta" placeholder="NºPorta:" @bind-value="newUtilizador.numeroPorta">
    <input type="n-porta" class="form-control" id="oneCidade" placeholder="Cidade:"@bind-value="newUtilizador.localidade">
  </div>
  <div class="form-group">
    <input type="codigo-postal" class="form-control" id="oneCp" placeholder="Código Postal:" @bind-value="newUtilizador.codigoPostal">
  </div>
  
    <div class="button-container">
        <button type="submit" class="btn btn-dark log-button">Enviar Registo</button>
    </div>
</EditForm>

@code {
    private Utilizador newUtilizador = new Utilizador();

    private async Task HandleSubmit()
    {
        var response = await ServicoUtilizador.AddUtilizador(newUtilizador);

        if (response)
        {
            NavigationManager.NavigateTo("/login");
        }
        else
        {
            Console.WriteLine("ERROR");

        }
    }
}
